*{
    margin: 0;
    padding: 0;
  }
  body{
    background-color:#ffffb3;
    overflow-x: hidden;
  }
  h1{
    text-align: center;
    color:#2aa22a;
    font-family: arial, sans-serif;
    padding: 10px;
  }
  
  
  
  ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #67ff7c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li {
    width:20%;
  }
  
  li a {
    display: block;
    color: #005a06;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #005a06;
    color: aliceblue;
  }
  
  .active {
    background-color: #2aa22a;
    color: white;
  }
  li:last-child {
      margin-right: 100px;
  }
  li:first-child {
      margin-left: 100px;
  }
  
  .ukupno{
    display: block;
    height: 600px;
  }
  .naslov{
    float: left;
    width: 135px;
    margin-left: 300px;
    height: 50px;
    font-size: 40px;
    color: #2aa22a;
    text-shadow: 0 0 10px #3c3c5d;
    padding-top: 70px;
  }
  .tabela{
    float: left;
    display: block;
    width: 500px;
    padding-top: 50px;
  }
  
th{
    color:white;
}
table, th, td {
    border: 1px solid grey;
  }
  .table td {
    text-align: center;
    vertical-align: middle;
  }
  .table{
    background-color:#8ce075;
    width: 350px;
    height:200px;
    text-align:center;
    margin:0px auto;
  }
  .slika{
	height:50px;
	width:50px;
}
.delovizaglavlja
{
	float:left;
	margin:10px 170px;
}
.ime
{
	background-color:#286b15;
}
  footer{
    position: fixed;
    background-color:  #2aa22a;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ffffb3;
    text-align: center;
    padding: 10px;
  }
  .futer{
    background-color:  #2aa22a;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ffffb3;
    text-align: center;
    padding: 10px;
  }
  p{
    margin:0;
    padding: 10px;
  }